{% extends 'base.html' %}
{% load static %}
{% block title %}Giới thiệu{% endblock %}
{% block name %}Giới thiệu{% endblock %}
{% block base %}
    <div class="content-wrapper">
    <br>
        <div class="wrap_contact_form">
            <p style="text-align: center;">
                <strong>LỊCH SỬ HÌNH THÀNH</strong></p>
            <p style="text-align: center;">
                <strong>QUÁ TRÌNH HÌNH THÀNH VÀ HOẠT ĐỘNG CỦA TRUNG TÂM</strong></p>
            <p style="text-align: center;">
                &nbsp;</p>
            <p>
                Trung tâm Bảo trợ trẻ em Vũng Tàu được thành lập theo Quyết định số 3199/QĐ-UBND ngày 07/09/2005 của
                UBND
                tỉnh Bà Rịa – Vũng Tàu trên cơ sở, Cơ sở Bảo trợ trẻ em Vũng Tàu đượcUBND tỉnh cho phép thành lập tại
                Quyết
                định số 61721/QĐ-UB ngày 26/07/2002, sau một thời gian đi vào hoạt động, Ngày 20/01/2009, Chủ tịch UBND
                tỉnh
                Bà Rịa – Vũng Tàu ban hành Quyết định số 144/QĐ.UBND ngày 20/01/2009 của UBND tỉnh Bà Rịa – Vũng Tàu về
                việc
                sáp nhập Trung tâm Nuôi dưỡng – Dạy nghề vào Trung tâm Bảo trợ trẻ em Vũng Tàu; Trung tâm là đơn vị sự
                nghiệp trực thuộc Sở Lao động – Thương binh và Xã hội tỉnh Bà Rịa – Vũng Tàu, Trung tâm chịu sự quản lý
                Nhà
                nước của Sở Lao động - Thương binh và Xã hội tỉnh, chịu sự quản lý, chỉ đạo, hướng dẫn, kiểm tra về
                chuyên
                môn nghiệp vụ của các cơ quan, đơn vị có liên quan; Trung tâm có tư cách pháp nhân, có con dấu riêng và
                được
                mở tài khoản tại Kho bạc, Ngân hàng Nhà nước theo quy định.</p>
            <p>
                &nbsp;</p>
            <p>
                Trụ sở chính của Trung tâm được đặt tại số 26 đường Ngô Quyền, phường Thắng Nhất, Thành phố Vũng
                Tàu.Điện
                thoại: 02543.832259 - 02543.560522.</p>
            <p>
                Fax : 02543.560522</p>
            <p>
                &nbsp;</p>
            <p>
                <img alt="" src="http://ttbaotrotreemvungtau.com/upload/images/2015-08-03 15_14_50(1).jpg"
                     style="width: 100%;"></p>
            <p>
                &nbsp;</p>
            <p>
                <span _fck_bookmark="1" style="display: none;">&nbsp;</span>Hàng năm, Trung tâm Bảo trợ trẻ em Vũng
                Tàu
                có chức năng, nhiêm vụ tiếp nhận, quản lý, chăm sóc nuôi dưỡng, giáo dục từ 100 đến 120 đối tượng là trẻ
                em
                lang thang cơ nhỡ không nơi nương tựa; trẻ em bị cha mẹ ruồng bỏ hoặc từ chối nuôi dưỡng; trẻ em bị cha
                mẹ
                bỏ rơi không rõ nguồn gốc, quê quán; trẻ em nhiễm HIV/AIDS từ 0 đến 18 tuổi trên địa bàn tỉnh Bà Rịa-
                Vũng
                Tàu theo chủ trương, chính sách của Đảng và Nhà nước.</p>
            <p>
                &nbsp;</p>
            <p>
                Năm 2013, đượcUBND tỉnh phê duyệt Đề án nâng cấp mở rộng Trung tâm Bảo trợ trẻ em Vũng Tàu, tại cơ sở số
                26
                đường Ngô Quyền, phường Thắng Nhất, Thành phố Vũng Tàu, sau khi hoàn thành đưa vào sử dụng được UBND
                tỉnh,
                Bổ sung chức năng, nhiệm vụ “tiếp nhận, nuôi dưỡng trẻ khuyết tật và trẻ em bị ảnh hưởng bởi chất độc
                màu da
                cam có thân nhân nhưng không đủ khả năng nuôi dưỡng nhưng tự nguyện đăng ký vào được chăm sóc, nuôi
                dưỡng ở
                Trung tâm, tự nguyện đóng góp kinh phí hoặc có thân nhân, người nhận bảo trợ đóng góp kinh phí để nuôi
                dưỡng” theo Quyết định số 2798/QĐ-UBND ngày 19/12/2014 của UBND tỉnh Bà Rịa-Vũng Tàu;</p>
            <p>
                &nbsp;</p>
            <p>
                Trong quá trình hình thành và phát triển, Tập thể cán bộ công chức, viên chức và người lao động của
                Trung
                tâm Bảo trợ trẻ em Vũng Tàu luôn mang hết sức lực, tâm huyết, tình cảm thương yêu đến với những trẻ
                em
                bất hạnh không được may mắn như bao trẻ em khác, tạo điều kiện giúp đỡ các em có nơi ăn, ở sinh hoạt ổn
                định
                cuộc sống và được đến trường như bao trẻ em khác, các em có mái ấm tình thương, biết thương yêu giúp đỡ
                nhau
                trong cuộc sống và có nghị lực phấn đấu vươn lên, khi các em đến tuổi trưởng thành được học nghề và tìm
                việc
                làm để hòa nhập cộng đồng, từ đó tập thể cán bộ, nhân viên Trung tâm Bảo trợ trẻ em Vũng Tàu luôn
                hoàn
                thành xuất sắc nhiệm vụ của đơn vị và cấp trên giao;</p>
            <p>
                &nbsp;</p>
            <p>
                Tổ chức cơ sở Đảng, Công đoàn, Đoàn Thanh niên, Hội cựu chiến binh trong Trung tâm đã tạo ra được nhiều
                những hoạt động thiết thực, đóng góp tích cực cho quá trình xây dựng, phát triển của Trung tâm ngày càng
                hoàn thiện và lớn mạnh.</p>
            <p>
                &nbsp;</p>
            <p>
                Với những thành tích đạt được của Tập thể cán bộ, nhân viên Trung tâm Bảo trợ trẻ em Vũng Tàu đã
                nhận
                được nhiều danh hiệu khen thưởng của Nhà nước như: Huân chương Lao động hạng Ba (năm 2012); Bằng khen
                của
                Thủ tướng Chính phủ (năm 2010); Danh hiệu lá cờ đầu của ngành Lao động – TBXH (năm 2009); Bằng khen của
                Bộ
                Lao động - TBXH, Bằng khen của Chủ tịch UBND tỉnh trong nhiều năm liên tục.</p>
            <p>
                &nbsp;</p>
            <p align="center">
                <strong>CHỨC NĂNG, NHIỆM VỤ VÀ TỔ CHỨC BỘ MÁY</strong></p>
            <p align="center">
                &nbsp;</p>
            <p align="center">
                <strong>I.&nbsp;&nbsp;&nbsp; </strong><strong>CHỨC NĂNG, NHIỆM VỤ:</strong></p>
            <p align="center">
                &nbsp;</p>
            <p>
                Trung tâm Bảo trợ trẻ em Vũng Tàu có chức năng, nhiêm vụ tiếp nhận, quản lý, chăm sóc nuôi dưỡng,
                giáo
                dục các đối tượng từ 0 đến 18 tuổi trên địa bàn tỉnh Bà Rịa- Vũng Tàu theo chủ trương, chính sách của
                Đảng
                và Nhà nước cụ thể như sau:</p>
            <p>
                Tiếp nhận, nuôi dưỡng trẻ em mồ côi cả cha lẫn mẹ; trẻ em bỏ rơi mất nguồn nuôi dưỡng, trẻ em mồ côi cha
                hoặc mẹ nhưng người còn lại là mẹ hoặc cha mất tích theo quy định tại Điều 78 của Bộ Luật Dân sự hoặc
                không
                đủ năng lực, khả năng nuôi dưỡng theo quy định của Pháp luật; trẻ em có cha và mẹ, hoặc cha hoặc mẹ đang
                trong thời gian chấp hành hình phạt tù tại trại giam, không còn người nuôi dưỡng; trẻ em bị cha mẹ ruồng
                bỏ
                hoặc từ chối nuôi dưỡng, trẻ em nhiễm HIV/AIDS thuộc hộ gia đình nghèo;</p>
            <p>
                Trẻ khuyết tật và trẻ em bị ảnh hưởng bởi chất độc màu da cam có thân nhân nhưng không đủ khả năng nuôi
                dưỡng nhưng tự nguyện đăng ký vào được chăm sóc, nuôi dưỡng ở Trung tâm, tự nguyện đóng góp kinh phí
                hoặc có
                thân nhân, người nhận bảo trợ đóng góp kinh phí để nuôi dưỡng, theo Quyết định số 2798/QĐ-UBND ngày
                19/12/2014 của UBND tỉnh Bà Rịa-Vũng Tàu;</p>
            <p>
                Trẻ em là nạn nhân của bạo lực gia đình; nạn nhân bị xâm hại tình dục; nạn nhân bị buôn bán; nạn nhân bị
                cưỡng bức lao động;</p>
            <p>
                Trẻ em lang thang, lao động sớm kiếm sống do Trung tâm Xã hội phân loại chuyển về theo quy định tại
                Quyết
                định số 2382/QĐ-UB ngày 14/7/2008 của Chủ tịch UBND tỉnh Bà Rịa-Vũng Tàu;</p>
            <p>
                Tổ chức học tập, giáo dục, dạy văn hóa, ngoại ngữ và tổ chức lao động tăng gia sản xuất cải thiện nâng
                cao
                đời sống của các cháu;.</p>
            <p>
                Hướng nghiệp dạy nghề cho trẻ em lớn tuổi tạo điều kiện giúp đỡ các em khi đến tuổi trưởng thành có công
                ăn
                việc làm, xây dựng gia đình, có chỗ ăn ở tốt để hòa nhập cộng đồng xã hội;</p>
            <p>
                Tìm kiếm gia đình có đủ điều kiện nuôi dưỡng các cháu theo quy định của Pháp luật;</p>
            <p>
                Tổ chức và vận động mọi nguồn kinh phí giúp đỡ từ các nhà từ thiện, các nhà hảo tâm, các tổ chức kinh tế
                xã
                hội trong nước và nước ngoài nhằm chăm sóc tốt cho các cháu tại Trung tâm.</p>
            <p>
                &nbsp;</p>
            <p style="text-align: center;">
                <strong>II. CƠ CẤU TỔ CHỨC BỘ MÁY</strong></p>
            <p style="text-align: center;">
                &nbsp;</p>
            <p>
                <strong>1</strong><strong>. Tổ chức bộ máy:</strong></p>
            <p>
                Trung tâm được điều hành bởi Giám đốc, giúp việc cho Giám đốc có 02 Phó Giám đốc và các Phòng, Bộ phận
                tham
                mưu, giúp việc cho Giám đốc, bao gồm:</p>
            <p>
                <strong>2. Các phòng chức năng gồm có:</strong></p>
            <p>
                - Phòng Hành chính – Tổng hợp</p>
            <p>
                - Phòng Y tế</p>
            <p>
                - Phòng Chăm sóc nuôi dưỡng</p>
            <p>
                - Phòng Giáo dục – Dạy nghề.</p>
            <p>
                <strong>3. Tổ chức chính trị - Xã hội gồm:</strong></p>
            <p style="margin-left:54.0pt;">
                1.&nbsp;&nbsp;&nbsp;&nbsp; Tổ chức Chi bộ Đảng</p>
            <p style="margin-left:54.0pt;">
                2.&nbsp;&nbsp;&nbsp;&nbsp; Tổ chức Công đoàn cơ sở thành viên</p>
            <p style="margin-left:54.0pt;">
                3.&nbsp;&nbsp;&nbsp;&nbsp; Tổ chức Chi đoàn thanh niên Cộng Sản Hồ Chí Minh.</p>
        </div>
    <br>
    </div>
{% endblock %}