{% extends 'base.html' %}
{% load static %}
{% block title %}Chi tiết{% endblock %}
{% block base %}
    <div class="container">
        <p>Thừa nhận U.22 Việt Nam có chút căng cứng trong hiệp 1, HLV Park Hang-seo hài lòng cách học trò vùng dậy
            trong hiệp 2 để thắng U.22 Singapore và khẳng định sẽ chuẩn bị tốt nhất cho trận gặp Thái Lan.
        </p>
        <div class="left-image"><img src={% static 'images/tintuc.jpg' %}></div>
        <p>Thừa nhận U.22 Việt Nam có chút căng cứng trong hiệp 1, HLV Park Hang-seo hài lòng cách học trò vùng dậy
            trong hiệp 2 để thắng U.22 Singapore và khẳng định sẽ chuẩn bị tốt nhất cho trận gặp Thái Lan.
        </p>
        <div class="left-image"><img src={% static 'images/tintuc.jpg' %}></div>
        <p>Thừa nhận U.22 Việt Nam có chút căng cứng trong hiệp 1, HLV Park Hang-seo hài lòng cách học trò vùng dậy
            trong hiệp 2 để thắng U.22 Singapore và khẳng định sẽ chuẩn bị tốt nhất cho trận gặp Thái Lan.
        </p>
    </div>
{% endblock %}