{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block name %}Tin tức- Sự kiện{% endblock %}
{% block url %}{% url 'blog:post-list' %}{% endblock %}
{% block base %}
    <div class="hot-news">
        <div class="post-item">
            <a href="{% url 'blog:post-detail' %}?id={{ posts.0.id }}" class="full-image"><img
                    src="{{ posts.0.image.url }}"></a>
            <div class="post-item-content">
                <a href="{% url 'blog:post-detail' %}?id={{ posts.0.id }}" class="title">{{ posts.0.title }}</a>
                <div class="description">{{ posts.0.description }}</div>
                <div class="date">{{ posts.0.created_date|date:"d/m/Y" }}</div>
            </div>
        </div>
    </div>
    <div class="row">
        {% for post in posts %}
            {% if not forloop.first %}
                <div class="col-md-6">
                    <div class="post-item">
                        <a href="{% url 'blog:post-detail' %}?id={{ post.id }}" class="full-image"><img
                                src="{{ post.image.url }}"></a>
                        <div class="post-item-content">
                            <a href="{% url 'blog:post-detail' %}?id={{ post.id }}"
                               class="title">{{ post.title }}</a>
                            <div class="description">{{ post.description }}</div>
                            <div class="date">{{ post.created_date|date:"d/m/Y" }}</div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <ul class="nav nav-tabs nav-menu" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
               aria-selected="true">Văn bản chỉ đạo của bộ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
               aria-selected="false">Văn bản chỉ đạo của sở</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
    </div>
{% endblock %}