{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block name %}Tin tức- Sự kiện{% endblock %}
{% block url %}{% url 'blog:post-list' %}{% endblock %}
{% block base %}
    <div class="hot-news">
        <div class="post-item">
            <a href="{% url 'blog:post-detail' %}?id={{ posts.0.id }}" class="full-image"><img
                    src="{{ posts.0.image.url }}"></a>
            <div class="post-item-content">
                <a href="{% url 'blog:post-detail' %}?id={{ posts.0.id }}" class="title">{{ posts.0.title }}</a>
                <div class="description">{{ posts.0.description }}</div>
                <div class="clearfix"><div class="date">{{ posts.0.created_date|date:"d/m/Y" }}</div></div>
            </div>
        </div>
    </div>
    <div class="row">
        {% for post in posts %}
            {% if not forloop.first %}
                <div class="col-md-6">
                    <div class="post-item">
                        <a href="{% url 'blog:post-detail' %}?id={{ post.id }}" class="full-image"><img
                                src="{{ post.image.url }}"></a>
                        <div class="post-item-content">
                            <a href="{% url 'blog:post-detail' %}?id={{ post.id }}"
                               class="title">{{ post.title }}</a>
                            <div class="description">{{ post.description }}</div>
                            <div class="clearfix"><div class="date">{{ post.created_date|date:"d/m/Y" }}</div></div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <ul class="nav nav-tabs nav-menu" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="type_0-tab" data-toggle="tab" href="#type_0" role="tab" aria-controls="type_0"
               aria-selected="true">Tin trung tâm</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="type_1-tab" data-toggle="tab" href="#type_1" role="tab" aria-controls="type_1"
               aria-selected="false">Tin trong tỉnh</a>
        </li>
            <li class="nav-item">
            <a class="nav-link" id="type_2-tab" data-toggle="tab" href="#type_2" role="tab" aria-controls="type_2"
               aria-selected="false">Hoàn cảnh cần giúp đỡ</a>
        </li>
            <li class="nav-item">
            <a class="nav-link" id="type_3-tab" data-toggle="tab" href="#type_3" role="tab" aria-controls="type_3"
               aria-selected="false">Thông tin chỉ đạo, điều hành</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="type_0" role="tabpanel" aria-labelledby="type_0-tab">
            <div class="row">
                {% for post in posts_0 %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="post-item">
                        <a href="{% url 'blog:post-detail' %}?id={{ post.id }}" class="full-image"><img
                                src="{{ post.image.url }}"></a>
                        <div class="post-item-content">
                            <a href="{% url 'blog:post-detail' %}?id={{ post.id }}"
                               class="title">{{ post.title }}</a>
                            <div class="description">{{ post.description }}</div>
                            <div class="clearfix"><div class="date">{{ post.created_date|date:"d/m/Y" }}</div></div>
                        </div>
                    </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="tab-pane fade" id="type_1" role="tabpanel" aria-labelledby="type_1-tab">
            <div class="row">
                {% for post in posts_1 %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="post-item">
                        <a href="{% url 'blog:post-detail' %}?id={{ post.id }}" class="full-image"><img
                                src="{{ post.image.url }}"></a>
                        <div class="post-item-content">
                            <a href="{% url 'blog:post-detail' %}?id={{ post.id }}"
                               class="title">{{ post.title }}</a>
                            <div class="description">{{ post.description }}</div>
                            <div class="clearfix"><div class="date">{{ post.created_date|date:"d/m/Y" }}</div></div>
                        </div>
                    </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    <div class="tab-pane fade" id="type_2" role="tabpanel" aria-labelledby="type_2-tab">
            <div class="row">
                {% for post in posts_2 %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="post-item">
                        <a href="{% url 'blog:post-detail' %}?id={{ post.id }}" class="full-image"><img
                                src="{{ post.image.url }}"></a>
                        <div class="post-item-content">
                            <a href="{% url 'blog:post-detail' %}?id={{ post.id }}"
                               class="title">{{ post.title }}</a>
                            <div class="description">{{ post.description }}</div>
                            <div class="clearfix"><div class="date">{{ post.created_date|date:"d/m/Y" }}</div></div>
                        </div>
                    </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    <div class="tab-pane fade" id="type_3" role="tabpanel" aria-labelledby="type_3-tab">
            <div class="row">
                {% for post in posts_3 %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="post-item">
                        <a href="{% url 'blog:post-detail' %}?id={{ post.id }}" class="full-image"><img
                                src="{{ post.image.url }}"></a>
                        <div class="post-item-content">
                            <a href="{% url 'blog:post-detail' %}?id={{ post.id }}"
                               class="title">{{ post.title }}</a>
                            <div class="description">{{ post.description }}</div>
                            <div class="clearfix"><div class="date">{{ post.created_date|date:"d/m/Y" }}</div></div>
                        </div>
                    </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}