body {
    background-image: url("../images/bg.gif");
}

a {
    color: black;
}
a:hover {
    text-decoration: none;
}

.main {
    margin-top: 10px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
    margin-bottom: 10px;
}

.footer {
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
    padding: 0;
    margin-bottom: 10px;
}

.image-header {
    width: 100%;
}

.nav-item {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 3;
    padding: 0;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.nav-item:hover .dropdown-menu {
    display: inline-table;
}

.navbar-nav .nav-item:hover {
    background-color: #f1f1f1;
}

.contact-map {
    width: 100%;
    height: 200px;
}

.contact-map iframe {
    width: 100%;
    height: 100%;
}

.contact {
    color: #116ba7;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
    padding: 15px;
    margin-bottom: 20px;
}

.contact .footer-name {
    font-weight: 500;
}

.icon-home::before {
    font-size: 30px;
    color: rgba(0, 0, 0, .9);
}

.arrow-title {
    display: block;
    position: relative;
    background-color: #0163a4;
    padding: 5px 0 5px 10px;
    width: 100%;
    color: white;
    font-size: 14px;
    margin: 0;
    cursor: pointer;
    margin-bottom: 10px;
}

.arrow-title::before {
    color: #0163a4;
    content: "\f0d7";
    font-family: FontAwesome;
    left: 20px;
    top: 18px;
    height: 0;
    width: 0;
    position: absolute;
    font-size: 20px;
}

.main .left .arrow-title {
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
}

a.arrow-title {
    color: white;
}

.carousel-item {
    max-height: 250px;
}

.carousel-item img {
    height: auto;
    width: 100%;
}

.item-right {
    margin-top: 10px;
    margin-bottom: 20px;
}

.contact-title {
    background-color: #0163a4;
    color: white;
    font-weight: 500;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
    margin-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
}

.item-right iframe {
    width: 100%;
    height: 250px;
}

.post-item-content {
    padding: 0 15px;
}

.post-item-content:hover, .item-right:hover {
    background-color: #f9f9f9;
}

.post-item-content .title {
    color: #333;
    font-size: 24px;
    font-weight: bold;
}

.date {
    font-style: italic;
    bottom: 15px;
    float: right;
    color: grey;
}

.post-item {
    cursor: pointer;
}

.hot-news {
    margin-bottom: 10px;
}

.post-content img {
        width: 100% !important;
    height: auto !important;
}
.tab-content {
    padding-top: 15px;
}
.tab-content .description{
      width : 100%;
  overflow:hidden;
  display:inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tab-content .post-item .title {
    font-size: 16px;
}

.org-chart {
    width: 100%;
    height: auto;
}

.social-contact .social-icons ul li a {
    border: 0 none;
    border-radius: 0;
    color: #a5a5a5;
    padding: 0px;
}

.social-contact .social-icons ul li {
    display: inline-block;
}

.social-contact .social-icons ul li a i {
    padding: 11px 15px;
    transition: all 0.9s ease 0s;
    -moz-transition: all 0.9s ease 0s;
    -webkit-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
}

.social-contact .social-icons ul li a i:hover {
    color: #fff;
    transition: all 0.9s ease 0s;
    -moz-transition: all 0.9s ease 0s;
    -webkit-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
}

.social-contact .fa-facebook:hover {
    background: #0083c9;
}

.social-contact .fa-twitter:hover {
    background: #5bbcec;
}

.social-contact .fa-linkedin:hover {
    background: #ff4518;
}

.social-contact .fa-dribbble:hover {
    background: #90c9dc;
}

.social-contact .fa-google-plus:hover {
    background: #ce3c2d;
}

.social-contact {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

a#scrollUp {
    bottom: 0px;
    right: 10px;
    padding: 5px 10px;
    background: #FE980F;
    color: #FFF;
    -webkit-animation: bounce 2s ease infinite;
    animation: bounce 2s ease infinite;
}

a#scrollUp i {
    font-size: 30px;
}

.post-title {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    padding: 20px;
}

.post-image img {
    width: 100%;
    margin-bottom: 30px;
}

.post-video {
    margin-bottom: 30px;
}

.post-item .title {
    font-size: 24px;
    display: inline;
}

.post-item .image img {
    width: 100%;
}

.post-item {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}

.content-wrapper {
    margin-bottom: 70px;
}

/*
    code by Iatek LLC 2018 - CC 2.0 License - Attribution required
    code customized by Azmind.com
*/
@media (min-width: 768px) and (max-width: 991px) {
    /* Show 4th slide on md if col-md-4*/
    .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%; /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    /* Show 3rd slide on sm if col-sm-6*/
    .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%; /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}

@media (min-width: 576px) {
    .carousel-item {
        margin-right: 0;
    }

    /* show 2 items */
    .carousel-inner .active + .carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
    }

    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }

    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be also positioned for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

/* MD */
@media (min-width: 768px) {
    /* show 3rd of 3 item slide */
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }

    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }

    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* right or prev direction */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

/* LG */
@media (min-width: 991px) {
    /* show 4th item */
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }

    /* Show 5th slide on lg if col-lg-3 */
    .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%; /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* right or prev direction //t - previous slide direction last item animation fix */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

.image-list {
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
    margin-bottom: 15px;
    padding: 10px 15px;
}

#carousel-example {
    z-index: 1;
}

.carousel-item p {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-video {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-bottom: 56.2%;
}

.post-video iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

.full-image {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-bottom: 56.2%;
}

.full-image img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}


.table tbody tr th {
    width: 20%;
}

a {
    display: block;
}

.file-title {
    float: left;
    padding-left: 10px;
    font-weight: 500;
}
.pagination-bottom {
    padding-bottom: 10px;
    left: 50%;
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
}

.loading {
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
}
.nav-menu .nav-link {
    padding: 5px 10px;
    color: black;
    border: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.nav-menu .nav-link:hover {
    background-color: #0163a4;
    color: white;
}
.nav-menu .nav-link.active{
    background-color: #0163a4;
    color: white;
    border-right: 1px solid white;
}

.files {
    padding-left: 0;
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.2);
}

.item-right ul li {
    list-style: none outside none;
    background: url("../images/blue_li_icon.jpg") no-repeat scroll 10px 11px transparent;
    padding: 2px 5px 10px 10px;
}

.file-item .name {
    font-size: 14px;
}

.clearfix:after {
  content: ' ';
  display: table;
  clear: both;
}
.clearfix:before {
  content: ' ';
  display: table;
}