{% extends 'base.html' %}
{% load static %}
{% block name %}Bài đăng{% endblock %}
{% block title %}{{ post.title }}{% endblock %}
{#{% block url %}{% url 'blog:post-list' %}{% endblock %}#}
{% block base %}
    <div class="post-title">{{ post.title }}</div>
    <div class="post-image"><img src="{{ post.image.url }}" alt="{{ post.title }}"></div>
    {% if post.video_link %}
        <div class="post-video">
            <iframe width="100%" height="315"
                    src="{{ post.video_link }}">
            </iframe>
        </div>
    {% endif %}
    <div class="post-content">{{ post.content | safe }}</div>
{% endblock %}